# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit specific
.streamlit/secrets.toml
